<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Walleaf</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Walleaf 需要將分享圖儲存到您的相簿。</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Walleaf 需要使用 Face ID 來保護您的資產與交易資訊。</string>
	<key>SNAPVEST_USER_ID</key>
	<string>david.hsu</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>sb_publishable__E7HewKbHnA47_P1Z6mkOg_qMxiC3os</string>
	<key>SUPABASE_URL</key>
	<string>https://eqtbyusegarvdfplcorq.supabase.co</string>
</dict>
</plist>
